<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <p>Recent Search Items</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Recent Orders</p>
                </div>
                <div class="col">
                    <p>Recent Price Requests</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>New Alerts</p>
        </div>
    </div>
</div>